@model API_Usage.Models.financialData
@{

    ViewData["Title"] = "Financials";
}
<h2 style="text-decoration:underline">Financials</h2>
<p>
    Quaterly financial report
</p>
<form asp-controller="Home" asp-action="financials" method="get">
    <select id="dd1" name="symbol">
        @foreach (var company in Model.company)
        {
            <option value=@company.symbol>@company.name</option>

        }
    </select>
    <input type="submit" value="Submit" />
</form>
<table class="table" style="border:dotted">
    <thead>
        @foreach (var item in Model.company)
        {
            if (item.symbol == Model.finance.symbol)
            {
                <tr>
                    <td style="font-size:larger;text-decoration:underline">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                </tr>
            }
        }
        <tr id="title" data-sec="@ViewData["Secto"]">
        <tr>
            <th>Gross Profit</th>
            <th>Operating Revenue</th>
            <th>Total Revenue</th>
            <th>Net Income</th>
            <th>Current Cash</th>
            <th>Total Assets</th>
            <th>Total Liabilities</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.finance.financials != null)
        {

            @foreach (var itemI in Model.finance.financials)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => itemI.grossProfit)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => itemI.operatingRevenue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemI.totalRevenue)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => itemI.netIncome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemI.currentCash)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => itemI.totalAssets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => itemI.totalLiabilities)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div style="padding:5px">
    <a id="dbopt" asp-controller="Home" asp-action="PopulateFinancial"><img src="~/img/button_save-data.png" /></a>
</div>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>