@model IEnumerable<API_Usage.Models.Crypto>
<h2>Cryptocurrecies</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Company Name
            </th>
            <th>
                Open
            </th>
            <th>
                Close
            </th>
            <th>
                Latest Price
            </th>
            <th>
                Latest Update
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.close)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latestUpdate)
            </td>
            
        </tr>
        }
        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="PopulateCrypt"><img src="~/img/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
